
# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false


6. Crear archivo .eslintrc.json con lo siguiente:


{
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "env": {
      "es6": true,
      "node": true,
      "jest": true
    },
    "rules": {
      "no-console": "warn"
    }
  }
